#section-, .font-family-1 .book-summary {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

h1 {
  color: #3C79BF;
}

h2 {
  color: #3C79BF;
}

h3 {
  text-align: right;
  color: #3C79BF;
  border-bottom: 1px solid #ff1493;
}

h4 {
  color: #808080;
}

p.indent-1 {
  padding-left: 2em;
}
